.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
h1{
  font-size: 24px;
  margin-bottom: 20px;
}
.category-filter{
  display: flex;
  margin-bottom: 20px;
}
.category-filter button{
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #0077b6;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.category-filter button.selected{
  background-color: #023e8a;
}
.task-list{
  list-style: none;
  padding: 0;
}
.task-list li{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-text{
  flex-grow: 1;
}
.delete-button{
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.delete-button:hover{
  background-color: #a40e22;
}
.new-task-form{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.new-task-form input{
  padding: 10px;
  margin-bottom: 10px;
}
.new-task-form button{
  padding: 10px;
  background-color: #0077b6;
  color: #fff;
  border: none;
  cursor: pointer;
}
.new-task-form button:hover{
  background-color: #023e8a;
}